ComputerVision/CNN/datasets/
ComputerVision/CNN/model/
ComputerVision/CNN/lightning_logs/
ComputerVision/CNN/logs/
ComputerVision/CNN/wandb/
ComputerVision/HSE_assignments/week1/
ComputerVision/HSE_assignments/week1/face_imgs/
Training/images/
**/data
